[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/masonary-redux"]
	path = themes/masonary-redux
	url = git@github.com:chuckbutler/pelican-masonary-redux.git
[submodule "themes/porto"]
	path = themes/porto
	url = git@github.com:chuckbutler/pelican-porto.git
