{% extends "base.html" %}
{% block content %}
  <div class="banner">

  </div>
  <div itemscope itemtype="http://schema.org/Blog">
  {% for article in articles_page.object_list %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="meta">
        <div class="date">
            <i class="icon calendar"></i>
            <time datetime="{{article.date }}" data-updated="true" itemprop="datePublished">{{ article.locale_date }}</time>
        </div>
        {% if article.tags %}
        <div class="tags">
            <i class="icon tags"></i>
            {% for tag in article.tags %}
            <a class="category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}{% endfor %}
        </div>
        {% endif %}
      </div>
      <h1 class="title" itemprop="name"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      <div class="entry-content" itemprop="articleBody">
            {{ article.summary }}
      </div>
    </article>
  {% endfor %}
  </div>
{% include 'modules/pagination.html' %}
{% endblock %}
