<footer class="site-footer">
    <div class="inner">
        <div class="about">
            <h3>About {{ AUTHOR }}</h3>
            <p>{{ AUTHORBIO }}</p>
        </div>
        <div class="get-connected">
            <p></p>
            <p class="poweredby">&copy; {{ AUTHOR }}. Built using <a href="http://getpelican.com" target="_blank">Pelican</a>. Theme by Charles Butler on <a href="https://github.com/chuckbutler/pelican-svbremix" target="_blank">github</a>. {% if INTERNET_DEFENSE_LEAGUE %}Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>{% endif %}.</p>
    </div>
  
            <!-- place advertisement here -->
            </p>
        </div>
    </div>
</footer>

