{% extends "index.html" %}

{% block parralax %}
{% endblock %}

{% block content %}

<h1> Articles Tagged: {{ tag }} </h1>

<div class="ui three doubling cards">
  {% for article in articles_page.object_list %}
  <div class="card">
    <div class="dimmable image">
      {% if article.image %}
      <img src="{{ article.image}}">
      {% endif %}
      {% if article.video %}
      <img src="http://img.youtube.com/vi/{{ article.video }}/maxresdefault.jpg">
      {% endif %}
    </div>
    <div class="content raised segment">
      <div class="header"><h3><a href="{{SITE_URL}}/{{article.url}}">{{ article.title }}</h3></a></div>
      <a class="ui ribbon orange label">{{ article.category}}</a>
      <div class="meta">
              </div>
      <div class="description">
       {{ article.summary }}  <a href ="{{SITE_URL}}/{{article.url}}">Read more →</a>
      </div>
    </div>
    <div class="extra content">
      <a class="right floated created">
       {{ article.locale_date}}
      </a>
      <a class="friends">
        <i class="calendar icon"></i>
        <small>Posted:</small>
      </a>
      <a class="tags">
      <div class="ui mini tag labels">
        {% for tag in article.tags %}
            <a class="ui mini tag label" href="{{SITE_URL}}/{{tag.url}}">{{tag}}</a>
        {% endfor %}
        </div>
      </a>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

{% block scripts %}
 <script type="text/javascript">
    $('.ui.sticky')
      .sticky({
        context: '.content'
      });
</script>

{% endblock %}
